@media (max-width: 770px) {

    header {
        padding: 0 10px;
    }

    .menuBtn {
        margin-left: 10px;
    }

    .logo img {
        width: 80px;
    }

    .pesquisa {
        width: 20px;
    }
    .colunas {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .conteudo {
        padding: 10px;
    }

    .colunaNoticias, .colunaArtigos, .colunaCalendario {
        width: 90vw;
        margin: 0 auto;
    }

    .noticiaPrincipal img {
        width: 90vw;
    }

    .outrasNoticias li {
        width: 100%;
        margin: 10px 0;
    }

    .colunaArtigos ul {
        flex-direction: column;
        gap: 20px;
    }

    .colunaArtigos li {
        width: 100%;
    }

    .colunaCalendario {
        width: 90vw;
        height: auto;
    }

    .container {
        display: flex;
        flex-direction: row;
        align-items: start;
        margin: 0 auto;
        gap: 3vw;
      }

    .calendar {
       width: 40vw;
     }

     .agenda {
        width: 40vw;
        height: auto;
      }

      .paginaAtiva {
        justify-content: start;
        width: 52vw;
        padding-top: 10vh;
        padding-right: 0;
        margin-left: 12vw;
        margin-right: 0;
    }
    
        .paginaAtiva h1 {
        margin-left: 22vw;
    }

}